@import "../../styles/mixin.scss";

.home{
    @include flex-centered-container;
    margin-bottom: 1rem;
    text-align: center;
    background: url(../../public/backgroundImages/circleDesign.png) no-repeat center center fixed;
    @include background-image-setting;

    @include breakpoint(screen-small){
        background: url(../../public/backgroundImages/backgroundImagePhoneSize.jpg) no-repeat center center fixed;
        @include background-image-setting;
        height: 30rem;
        justify-content: space-evenly;
    }

    span{
        font-style: normal;
        background: rgb(0,155,255);
        background: linear-gradient(87deg, rgba(0,155,255,1) 0%, rgba(60,255,184,1) 45%, rgba(57,235,28,1) 100%);
        @include text-gradient;
        
    }

    h1{
        font-weight: 100;
        font-size: 7rem;
        padding: 1rem;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
        letter-spacing: 2px;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;

        &:hover{
            letter-spacing: 5px;
        }
        

        @include breakpoint(screen-medium){
            font-size: 4rem;
            padding: 0;
        }

        @include breakpoint(screen-small){
            display: none;
        }
        
    }

    h2{
        font-weight: 100;
        font-size: 4rem;

        @include breakpoint(screen-medium){
            font-size: 2rem;
            padding: 0;
        }

        @include breakpoint(screen-small){
            font-size: 3rem;
            color: white;
        }
    }

    h3{
        font-weight: 400;
        letter-spacing: 2px;
        line-height: 3rem;

        @include breakpoint(screen-small){
            line-height: 1.5rem;
            color: white;
            padding: 10px;
        }

    }
}