.container{
    display: flex;
    justify-content: center;
}

.login{
    background-color: #f8fff8;
    text-align: center;
    border: solid 1px;
    border-color: springgreen;
    width: fit-content;
    padding: 3rem;
    border-radius: 20px;

    &__forms{
        padding: 3rem 0;
    }

    &__box{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        label{
            align-self: flex-start;
            margin-left: 10rem;
        }
    }

    &__input{
        width: 22rem;
    }
}