.login{
    background-color: #f8fff8;
    text-align: center;
    border: solid 1px;
    border-color: springgreen;
    width: fit-content;
    padding: 3rem;
    border-radius: 20px;

    h1{
        margin-bottom: 1rem;
        border-bottom: solid 1px;
        border-image: linear-gradient(276deg, rgba(248,255,248,0) 0%, rgba(0,255,0,1) 51%, rgba(59,251,27,0) 100%) 27;
    }

    &__forms{
        padding: 3rem 0;
    }

    &__box{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        label{
            align-self: flex-start;
            margin-left: 10rem;
        }
    }

    &__input{
        width: 22rem;
    }
}