@import "../styles/variables.scss";

@mixin text-gradient {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

@mixin background-image-setting{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@mixin border-animationg-green{
    &::after{
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: #70e000;
        transition: width .3s;
    }

    &:hover::after{
        width: 100%;
    }

    &:hover{
        color: inherit;
    }
}

//// breakpoint
@mixin breakpoint($point){
    @if $point == screen-big{
        @media (max-width : $screen-big){
            @content
        }
    };
    @if $point == screen-medium{
        @media (max-width : $screen-medium){
            @content
        }
    };
    @if $point == screen-medium-small{
        @media (max-width : $screen-medium-small){
            @content
        }
    };
    @if $point == screen-small{
        @media (max-width : $screen-small){
            @content
        }
    };
}